{% extends 'BeReady/base.html' %}

{% block title %} HR {% endblock %}

{% block content %}

<div class="mt-5 mb-3 p-3 container">
    <div class="row">
      <div class="col-10">
        <h3>Human Resource</h3>
      </div>
      <div class="col-2">
        <form class="d-flex" action="{% url 'BeReady:view_hr' %}" method="get" role="search">
          <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        </form>
      </div>  
</div>

<div class="row row-cols-4 m-5 container-fluid content-row">
  {% for HR in HRs %}
  <div class="card my-4 me-5" style="width: 18rem;">
    <img src="{{ HR.humanresourceprofile.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ HR.first_name }} {{ HR.last_name }}</h5>
      <p class="card-text">{{ HR.humanresourceprofile.desceiption }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  {% endfor %}
</div>



<!-- <div class="mt-3 mb-3 p-3 container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
        {% for HR in HRs %}
          <tr>
            <td><a class="" href="{% url 'BeReady:profile_detail' HR.id %}">{{ HR.first_name }} {{ HR.last_name }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>   -->
{% endblock %}