{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HR Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <!-- style=" background: rgb(173,247,251);
  background: linear-gradient(90deg, rgba(173,247,251,1) 16%, rgba(255,255,255,1) 43%);
  " -->
    <div class="bg-light mt-5 container border rounded-3 w-50">
      <h1 class="mt-2">Register New HR</h1>
      <form action="{% url 'accounts:hr_register' %}" method="POST" class="d-flex flex-column gap-3" enctype="multipart/form-data">
         {% csrf_token %}
        <div class="container">

          <div class=" mt-3 row align-items-start">
            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">First Name:</label>
                <input name = 'first_name' type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>   
            </div>

            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Last Name:</label>
                <input name = 'last_name' type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            </div>
          </div>

          <div class="row align-items-start">
            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">User Name:</label>
                <input name = 'username' type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            </div>

            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email:</label>
                <input name = 'email' type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
            </div>
          </div>
  
            <div class="row align-items-start">
              <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Password:</label>
                  <input name = 'password' type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
              </div>
  
              <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Field:</label>
                  <input name = 'field' type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
              </div>
            </div>

            <div class="mb-3 row align-items-start">
              <div class="col">
                <div class="mb-3">
                  <label for="formFile" class="form-label">Charge Be Hour:</label>
                  <input type="text" name="price" accept="image/*" class="form-control" />
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Card Number:</label>
                  <input name='card_number' type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
              </div>
            </div>
            
            <div class="row align-items-start">
              <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
                  <textarea name="desceiption" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="mb-3 row align-items-start">
              <div class="col">
                <div class="mb-3">
                  <label for="formFile" class="form-label">Upload Image:</label>
                  <input type="file" name="image" accept="image/*" class="form-control" />
                </div>
              </div>
            </div>
        </div>
        <button class="m-2 btn btn-lg btn-outline-secondary" type="submit">Sign in</button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>