{% extends 'BeReady/base.html' %}

{% block navbar %}
{% endblock %}
{% block content %}
<div class="bg-light mt-5 container border rounded-3 w-50">
    <h2 class="mt-2">Register New User</h2>
    <form action="{% url 'accounts:register_user' %}" method="POST" class="d-flex flex-column gap-3">
       {% csrf_token %}
      <div class="container">

        <div class=" mt-3 row align-items-start">
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">First Name:</label>
              <input name = 'first_name' type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>   
          </div>

          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Last Name:</label>
              <input name = 'last_name' type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </div>
        </div>

        <div class="row align-items-start">
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">User Name:</label>
              <input name = 'username' type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email:</label>
              <input name = 'email' type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
          </div>
        </div>

          <div class="row align-items-start">
            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password:</label>
                <input name = 'password' type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            </div>
          </div>
      </div>
      <button class="m-2 mb-3 btn btn-lg btn-outline-secondary" type="submit">Sign in</button>
{% endblock %}

{% block footer %}

{% endblock %}