{% extends 'BeReady/base.html' %}

{% block navbar %}
{% endblock %}
{% block content %}
<div class="mt-5 container border rounded-3 w-50">
    <h1 class="mt-2">Register New User</h1>
    <form action="{% url 'accounts:register_user' %}" method="POST" class="d-flex flex-column gap-3">
       {% csrf_token %}
        <div class="m-2 form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="First Name" name="first_name">
            <label for="floatingInput">First Name</label>
        </div>

        <div class="m-2 form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="last_name">
            <label for="floatingInput">Last Name</label>
        </div>
     
        <div class="m-2 form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
            <label for="floatingInput">User Name</label>
        </div>

        <div class="m-2 form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Email" name="email">
            <label for="floatingInput">Email</label>
        </div>

        <div class="m-2 form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
          <label for="floatingPassword">Password</label>
        </div>

        <button class="m-2 btn btn-lg btn-outline-secondary" type="submit">Sign in</button>
      </form>
</div>
{% endblock %}
